@model TESTAPP.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctorFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctorFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctorMidName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctorMidName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctorLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctorLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.internship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.internship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.speciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.speciality)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.doctor_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
